<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.xiergc.mapper.ChatMessageMapper">
    
    <insert id="insert" parameterType="com.example.xiergc.entity.ChatMessage">
        INSERT INTO chat_message (id, sender_id, receiver_id, content, sent_at, is_group)
        VALUES (#{id}, #{senderId}, #{receiverId}, #{content}, #{sentAt}, #{isGroup})
    </insert>

    <select id="selectHistory" resultType="com.example.xiergc.entity.ChatMessage">
        SELECT 
            id as id,
            sender_id as senderId,
            receiver_id as receiverId,
            content as content,
            sent_at as sentAt,
            is_group as isGroup
        FROM chat_message
        WHERE (is_group = #{isGroup} AND receiver_id = #{targetId})
        AND sent_at >= #{startTime}
        <if test="!isGroup">
            AND ((sender_id = #{userId} AND receiver_id = #{targetId})
                 OR (sender_id = #{targetId} AND receiver_id = #{userId}))
        </if>
        ORDER BY sent_at DESC
    </select>
</mapper> 