<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.xiergc.mapper.ChatGroupMapper">
    
    <insert id="insert" parameterType="com.example.xiergc.entity.ChatGroup" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO chat_group (name, owner_id, created_at)
        VALUES (#{name}, #{ownerId}, #{createdAt})
    </insert>

    <select id="findById" resultType="com.example.xiergc.entity.ChatGroup">
        SELECT 
            id as id,
            name as name,
            owner_id as ownerId,
            created_at as createdAt
        FROM chat_group 
        WHERE id = #{groupId}
    </select>

    <select id="findOwnerId" resultType="java.lang.Long">
        SELECT owner_id
        FROM chat_group 
        WHERE id = #{groupId}
    </select>

    <update id="updateOwner">
        UPDATE chat_group 
        SET owner_id = #{newOwnerId}
        WHERE id = #{groupId}
    </update>

    <delete id="delete">
        DELETE FROM chat_group 
        WHERE id = #{groupId}
    </delete>
</mapper> 