/* 设置全局样式 */

body {
  margin: 0;
  padding: 0;
  background-color: #130b3c;
  position: relative;
}

/* 创建左下角的圆形 */

body::before {
  content: "";
  position: fixed;
  /* 修改为 fixed 定位，保证背景固定 */
  bottom: -400px;
  /* 使圆的中心在左下角 */
  left: -400px;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  background-color: #b20ba2;
  z-index: -1;
  filter: blur(200px);
}

/* 创建右下角的圆形 */

body::after {
  content: "";
  position: fixed;
  /* 修改为 fixed 定位，保证背景固定 */
  bottom: -400px;
  /* 使圆的中心在右下角 */
  right: -400px;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  background-color: #47aaea;
  z-index: -1;
  filter: blur(200px);
}
